<!DOCTYPE html>
<html>
    <head></head>
    <title>squared paper for practicing calligraphy</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <body>
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <button onclick="changeColor()">开始闪烁</button>
        <button onclick="resetColor()">重置颜色</button>
        <button onclick="autoChange()">自动换色</button>
        <button onclick="stopAuto()">恢复默认</button>
        <script type="text/javascript" src="../js/main.js"></script>
    </body>
</html>